/*
 * Searchbox
 */

.search-box {
	margin: 10px auto;
}

/*
 * ListViews
 */ 
 
.list-views {
    padding: 0 30px;
}

.list-views ul {
    list-style: none;
    font-size: 0px;
    margin-left: -1%;
    padding: 0;
}

.list-views li {
    position: relative;
    display: inline-block;
    padding: 10px;
    margin: 0 0 1% 1%;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 15.5%;
}

.list-views li img {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px;
}

.list-views li .status {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 32px;
    height: 32px;
    background: #6bc0fc;
    box-shadow: 0px 0px 6px #000000;
    border-radius: 16px;
}

.list-views li .unread-count {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #6bc0fc;
    box-shadow: 0px 0px 6px #000000;
    border-radius: 16px;
}

.list-views li .unread-count p {
    color: #000000;
    margin: 5px 12px;
    font-weight: bold;
}

.list-views li p {
    text-align: center;
    font-size: 16px;
    margin: 5px 8px;
}

.no-results {
    display: none;
}

.no-series p,
.no-results p {
    text-align: center;
    font-size: 22px;
    margin: 70px 0;
}

/*
 *  Footer
 */

footer .metadata-disclaimer .text,
footer .metadata-disclaimer .logo {
    display: inline-block;
    vertical-align: middle;
}

footer .metadata-disclaimer .text {
    margin-right: 10px;
}

footer .metadata-disclaimer {
    text-align: right;
    margin-right: 30px;
    font-style: italic;
}

footer .metadata-disclaimer img {
    max-width: 80px;
}

