{% extends parent_template|default:"base.html" %}

{% load staticfiles %}

{% block page-title %}{{ character.name }}{% endblock page-title %}

{% block content %}

<div class="searchbox-wrapper">
    <form id="searchform" action="{% url 'character:search' page=1 %}" method="get" accept-charset="utf-8">
        <i class="fa fa-search"></i>
        <input id="searchbox" name="q" type="search" placeholder="Character Search">
    </form>
</div>

<div class="all-series">
{% if character_list %}
    <ul>
        {% for character in character_list %}
            <li>
                <a href="{% url 'character:detail' character.slug %}">
                    <div class="image">
                    {% if character.image %}
                        <img src="{{ character.image.url }}" alt="{{ character.name }}" >
                    {% else %}
                        <img src="{% static 'site/image-not-found.png' %}" alt="Image not found" >
                    {% endif %}
                    </div>
                </a>
                <a href="{% url 'character:detail' character.slug %}"><p>{{ character.name }}</p></a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <div class="no-series">
        <p>No characters currently available.</p>
    </div>
{% endif %}
    <div class="no-results">
        <p>No characters match your search.</p>
    </div>
</div>

{% endblock content %}

{% block pagination %}
    {% if is_paginated %}
        <span class="page-link">
            {% if page_obj.number > 1 %}
                {% if request.GET.q %}
                    <a href="{% url 'character:search' page=1 %}?{{ request.GET.urlencode }}">&lArr;</a>
                {% else %}
                    <a href="{% url 'character:list' page=1 %}">&lArr;</a>
                {% endif %}
            {% else %}
                <span>&lArr;</span>
            {% endif %}

            {% if page_obj.has_previous %}
                {% if request.GET.q %}
                    <a href="{% url 'character:search' page=page_obj.previous_page_number %}?{{ request.GET.urlencode }}">&larr;</a>
                {% else %}
                    <a href="{% url 'character:list' page=page_obj.previous_page_number %}">&larr;</a>
                {% endif %}
            {% else %}
                <span>&larr;</span>
            {% endif %}

            <span class="page-item">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                {% if request.GET.q %}
                    <a href="{% url 'character:search' page=page_obj.next_page_number %}?{{ request.GET.urlencode }}">&rarr;</a>
                {% else %}
                    <a href="{% url 'character:list' page=page_obj.next_page_number %}">&rarr;</a>
                {% endif %}
            {% else %}
                <span>&rarr;</span>
            {% endif %}

            {% if page_obj.number < paginator.num_pages %}
                {% if request.GET.q %}
                    <a href="{% url 'character:search' page=paginator.num_pages %}?{{ request.GET.urlencode }}">&rArr;</a>
                {% else %}
                    <a href="{% url 'character:list' page=paginator.num_pages %}">&rArr;</a>
                {% endif %}
            {% else %}
                <span>&rArr;</span>
            {% endif %}
        </span>
    {% endif %}
{% endblock %}