{% extends parent_template|default:"base.html" %}

{% load staticfiles %}

{% block content %}

<div class="creator-info-wrapper">
    <div class="creator-image">
	{% if creator.image %}
		<img src="{{ creator.image.url }}" alt="{{ creator.name }}" >
    {% else %}
       <img src="{% static 'site/img/image-not-found.png' %}" alt="Image not found" >
	{% endif %}
	</div>
	<div class="creator-info">
		<div class="creator-name">
			<h1>{{ creator.name }}</h1>
		</div>
		{% if creator.desc %}
		<div class="creator-description">
            {{ creator.desc|linebreaks }}
		</div>
		{% endif %}

		{% include "comics/comicvine_link.html" with cvurl=creator.cvurl %}
	</div>
</div>

{% include "comics/related_issues_by_series.html" %}

{% endblock content %}
