{% extends parent_template|default:"base.html" %}

{% load staticfiles %}

{% block content %}

<div class="issue-info-wrapper">
    <div class="issue-cover">
        <div class="issue-cover-image">
            {% if issue.cover %}
                {% autoescape off %}
                    <img src="{{ issue.cover.url }}" alt="{{issue.series.name}} #{{ issue.number}}" >
                {% endautoescape %}
                <div class="issue-cover-overlay">
                    <a href="{% url 'issue:reader' issue.slug %}">
                        <i class="read-button fa fa-eye"></i>
                    </a>
                </div>
            {% else %}
                {% autoescape off %}
                    <img src="{% static 'site/img/image-not-found.png' %}" alt="Image not found" >
                {% endautoescape %}
                <div class="issue-cover-overlay">
                    <a href="{% url 'issue:reader' issue.slug %}">
                        <i class="read-button fa fa-eye"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="issue-info">
        <div class="issue-title">
            <h1><a href="{% url 'series:detail' issue.series.slug %}">{{ issue.series.name }}</a></h1>
            <h3>Issue #{{ issue.number }}{% if issue.name != 'None' %} - <i>{{ issue.name }}</i>{% endif %}</h3>
            {% if issue.date %}
                <p>Released: {{ issue.date }}</p>
            {% endif %}
            <p>{{ issue.page_count }} pages</p>
        </div>

        {% include "comics/related_arcs.html" with arc_list=issue.arcs.all %}

        {% if issue.desc %}
        <div class="issue-description">
            {{ issue.desc|linebreaks }}
        </div>
        {% endif %}

        {% include "comics/comicvine_link.html" with cvurl=issue.cvurl %}

    </div>
</div>

{% include "comics/related_publisher.html" with publisher=issue.series.publisher %}

{% include "comics/related_characters.html" with character_list=issue.characters.all %}

{% include "comics/related_creators.html" with roles_list=roles_list.all %}

{% include "comics/related_teams.html" with team_list=issue.teams.all %}

{% endblock content %}
