{% extends parent_template|default:"base.html" %}

{% block page-title %}Issue List{% endblock page-title %}

{% block content %}

<div class="searchbox-wrapper">
    <form id="searchform" action="{% url 'series:search' %}" method="get" accept-charset="utf-8">
        <i class="fa fa-search"></i>
        <input id="searchbox" name="q" type="text" placeholder="Issue Search">
    </form>
</div>

<div class="all-series">
{% if issue_list %}
    <ul>
        {% for issue in issue_list %}
            <li>
                <a href="{% url 'issue:detail' issue.slug %}">
                    <img src="{{ issue.cover.url }}" alt = "{{ issue }}" >
                </a>
                <a href="{% url 'issue:detail' issue.slug %}"><p>{{ issue }}</p></a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <div class="no-series">
        <p>No issues currently available.</p>
    </div>
{% endif %}
    <div class="no-results">
        <p>No series match your search.</p>
    </div>
</div>

{% endblock content %}
