{% load staticfiles %}

<div class="related related-series">
    <h2>Series</h2>
    <div class="flexslider related-slider">
        <ul class="slides">
            {% for series in allseries %}
            <li>
                <a href="{% url 'series:detail' series.slug %}">
                    <div class="image">
                        {% with issue_cover=series.issue_set.first.cover %}
                            {% if issue_cover %}
                                <img src="{{ issue_cover.url }}" alt="{{ seriesname }}" >
                            {% else %}
                                <img src="{% static 'site/img/image-not-found.png' %}" alt="{{ seriesname }}" >
                            {% endif %}
                        {% endwith %}
                    </div>
                </a>
                <a href="{% url 'series:detail' series.slug %}"><p>{{ series.name }}</p></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
