{% load staticfiles %}

{% if issue_list %}
<div class="related related-issues">
	<h2>Issues</h2>
	<div>
	{% for issue in issue_list %}

		{% ifchanged issue.series.slug %}
		{% if not forloop.first %}
		  </ul>
		</div>
		{% endif %}
		<a href="{% url 'series:detail' issue.series.slug %}"><h3>{{ issue.series.name }}</h3></a>
		<div class="flexslider related-slider">
		   <ul class="slides">
		{% endifchanged %}
				<li>
					<a href="{% url 'issue:detail' issue.slug %}">
						<div class="image">
							{% if issue.cover %}
								<img src="{{ issue.cover.url }}" alt="{{ issue }}" >
							{% else %}
						        <img src="{% static 'site/img/image-not-found.png' %}" alt="Image not found" >
							{% endif %}
							{% if issue.status == 0 %}
							    <i class="fa fa-circle fa-2x"></i>
						    {% elif issue.status == 1 %}
                                <i class="fa fa-adjust fa-2x fa-flip-horizontal"></i>
                            {% endif %}
						</div>
					</a>
					<a href="{% url 'issue:detail' issue.slug %}"><p>Issue #{{ issue.number }}</p></a>
				</li>
        {% if forloop.last %}
            </ul>
        </div>
        {% endif %}
	{% endfor %}
	</div>
</div>
{% endif %}
