{% extends parent_template|default:"base.html" %}

{% load staticfiles %}

{% block content %}

<div class="series-info-wrapper">
    <div class="series-cover-image">
    {% with issue_cover=series.issue_set.first.cover %}
        {% if issue_cover %}
            <img src="{{ issue_cover.url }}" alt="{{ series.name }}" >
        {% else %}
            <img src="{% static 'site/img/image-not-found.png' %}" alt="Image not found" >
    	{% endif %}
    {% endwith %}
	</div>
	<div class="series-info">
		<div class="series-title">
			<h1>{{ series.name }}</h1>
			{% if series.year %}
			<p>{{ series.year }}</p>
			{% endif %}
		</div>
		{% if series.desc %}
		<div class="series-description">
	       {{ series.desc|linebreaks }}
		</div>
		{% endif %}

		{% include "comics/comicvine_link.html" with cvurl=series.cvurl %}

	</div>
</div>

{% include "comics/related_publisher.html" with publisher=series.publisher %}

{% include "comics/related_issues.html" with issue_list=series.issue_set.all %}

{% endblock content %}